@{
    ViewBag.Title = "Súper Zapatos";
}

<div class="jumbotron">
    <h1 class="text-center">Tienda Súper Zapatos</h1>
    <p class="lead text-center">Bienvenido nuevamente administrador</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Administrar Tiendas</h2>
        <p>
            Desde aquí se pueden ver, agregar, listar, modificar y borrar las distintas sucursales de Super Zapatos.
        </p>
        <p>@Html.ActionLink("Administrar", "Index", "Stores")</p>
    </div>
    <div class="col-md-6">
        <h2>Administrar Artículos</h2>
        <p>Desde aquí se pueden ver, agregar, listar, modificar y borrar los distintos artículos de Super Zapatos.</p>
        <p>@Html.ActionLink("Administrar", "Index", "Articles")</p>
    </div>
</div>